{% extends "base.html" %}

{% block content %}

<div class="about">
    <div id ="section_text">
        <h3>Andy Performance</h3>
        <form method = "POST" name="device_form" action ="/device/">
            <b>Enter Phone Number:</b><br /> + <input id="phone_id_1" type = "text" name = "code" value ="1" maxlength="1"/>
            -<input id="phone_id_2" type = "text" name = "num" value ="5555215554" maxlength="10"/><br/><br/>
            <input type = "submit" value = "Search">    
        </form>
    </div>
</div>
<br/>


{% endblock %}
