
{% extends "base.html" %}

{% block content %}
<div class="about">
    <div id ="section_text">
        <h3>Measurement Details</h3>
        <table>
            <tr><td>Measurement Id:</td><td>{{details.measurementid}}</td></tr>
            <tr><td>Device Id:</td><td>{{details.deviceid.deviceid}}</td></tr>
            <tr><td>Time:</td><td>{{details.time}}</td></tr> 
            <tr><td>Connection Type:</td><td>{{details.connectiontype}}</td></tr>             
        </table>
        <h3>Network Details</h3>
        <table>
            <tr><td>Type:</td><td>{{details.networktype}}</td></tr>
            <tr><td>Country:</td><td>{{details.networkcountry}}</td></tr>
            <tr><td>Operator Id:</td><td>{{details.networkoperatorid}}</td></tr>
            <tr><td>Name:</td><td>{{details.networkname}}</td></tr>
            <tr><td>Mobile Network State:</td><td>{{details.mobilenetworkstate}}</td></tr>
            <tr><td>Mobile Network Detailed State:</td><td>{{details.mobilenetworkdetailedstate}}</td></tr>
        </table>
        <h3>Sim Details </h3>
        <table>
            <tr><td>Operator Name:</td><td>{{details.simoperatorname}}</td></tr> 
            <tr><td>Operator Code:</td><td>{{details.simoperatorcode}}</td></tr>
            <tr><td>Serial Number:</td><td>{{details.simserialnumber}}</td></tr>
            <tr><td>Network Country:</td><td>{{details.simnetworkcountry}}</td></tr>
            <tr><td>State:</td><td>{{details.simstate}}</td></tr>
        </table>
        <h3>Location Details</h3>
        <table>
            <tr><td>Latitude:</td><td>{{details.latitude}}</td></tr>
            <tr><td>Longitude:</td><td>{{details.longitude}}</td></tr>
            <tr><td>Altitude:</td><td>{{details.altitude}}</td></tr>
        </table>
        <br/>
        <h3>Ping Details</h3>
        <table class="ping">
            <tr>
                <td><U>Average</U></td>
                <td><U>Standard Dev</U></td>
                <td><U>Min</U></td>
                <td><U>Max</U></td>
                <td><U>Source</U></td>
                <td><U>Destination</U></td>
                <td><U>Time</U></td>
                <td><U>Id</U></td>
            </tr>
            {% for ping in pings %}
            <tr>
                <td>{{ping.avg}}</td>
                <td>{{ping.stdev}}</td>
                <td>{{ping.min}}</td>
                <td>{{ping.max}}</td>
                <td>{{ping.srcip}}</td>
                <td>{{ping.dstip}}</td>
                <td>{{ping.time}}</td>
                <td>{{ping.pingid}}</td>
            </tr>     
            {% endfor %}
        </table>
        <br/>
    </div>
</div>
<br />

{% endblock %}
